#artist-img{
    /* background: url('../img/arwin_studio.webp'); */
    
    width : 100vw;
    height : 50vh;
    position : relative;
    display : flex;
    justify-content: center;
    align-items: center;
}
#overlay{
    height : 100%;
    width : 100%;
    /* background : url('../img/arwin_studio.webp'); */
    background-image : linear-gradient(to bottom, rgba(0, 0, 0, 0.793),  rgba(0, 0, 0, 0),rgba(0, 0, 0, 0));
    position : absolute;
    z-index: 2; 
    text-align: center;
    align-content: center;
}
#overlay h1{
    color : black;
    font-size: clamp(50px, 5vw, 200px);
}
#artist-bio{
    /* background-color: blue; */
    display : flex;
    flex-direction: column;
    align-items: center;
}
#artist-bio p{
    margin-top : 20px;
    /* background-color: aqua; */
    max-width: 1250px;
    font-size: 1.5em;
    text-align: center;
}
#artist-bio{
    margin-top : 5vw;
}

#artist-bio div{
    width : 100%;
    text-align: center;
    padding-bottom : 10px;
    border-bottom : 3px solid black
    
}
#artist-img img{
    width : 100%;
    height : 100%;
    object-fit :cover;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,1), rgba(0,0,0,0));
}
