button{
    background: none;
    border-radius: 100px;
    padding : 10px;
}


.audio-player-container{
    margin-top : 40px;
    display : flex;
    background-color: blue; 
    border-radius : 40px;
    width : 80%;
    height : 150px;
    max-width : 1250px;
}

.img-container{
    width : 20%;
}

.img-container img{
    width : 100%;
    height : 100%;
}